.quote-container{
  font-size: 2rem;
  font-weight: 900;
  margin-top: 100px;
}
.anime-character{
  display: flex;
  justify-content: space-between;
  margin: 100px 0 50px 0;
  align-items: flex-end;
}
.italic-style{
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
}
.anime-title{
  font-weight: 500;
  font-style: italic;
}

.btn{
  font-size: 1rem;
  font-weight: 500;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border-width: 3px ;
}

@media screen and (max-width: 490px){
  .quote-container{
    font-size: 1.5rem;
  }
  .italic-style{
    font-size: 1.2rem;
  }
  .anime-character{
    margin: 30px 0 30px 0;
  }
  .quote-container{
    margin-top: 30px;
  }
}